.productos{
    background-color: yellow;
}
.tiendas{
    background-color: aqua;
}
.registrarse{
    background-color: blue;
}
.text-fuente{
    color: white;
}
footer{
    background-color: purple;
}